bin/ 
gen/** 
*.log
*.apk
*.html
*.checkstyle
*.orig
.DS_Store
docs/
Bouboule-ios/bin
Bouboule-ios/obj
Bouboule-ios/target
Bouboule-ios/Bouboule-ios.userprefs
Bouboule-html/gwt-unitCache
Bouboule-html/war/gwt-unitCache
Bouboule-html/war/assets
Bouboule-html/war/be.ac.ucl.lfsab1509.bouboule.game.GwtDefinition
Bouboule-html/war/WEB-INF/classes
Bouboule-html/war/WEB-INF/deploy
