<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ac.ucl.lfsab1509.bouboule"
    android:versionCode="13"
    android:versionName="8" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher" >
        <activity
            android:name="MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Menu"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="VictoryActivity"
            android:label="@string/title_activity_victory"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="LoosingActivity"
            android:label="@string/title_activity_loosing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="MenuPause"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivity" >
        </activity>
        <activity
            android:name="GameOverActivity"
            android:label="@string/title_activity_gameover"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="MenuParameters"
            android:label="@string/title_activiy_menuParameters"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="MenuParameters_about"
            android:label="@string/title_activiy_menuParameters"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="MenuParameters_global"
            android:label="@string/title_activiy_menuParameters"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="MenuParameters_user"
            android:label="@string/title_activiy_menuParameters"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ChoosingActivity"
            android:label="@string/title_activity_ChoosingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <provider android:exported="true"
            android:authorities="be.ac.ucl.lfsab1509.bouboule"
            android:name="ShareScoreImageProvider">
        </provider>
    </application>

</manifest>
